<%- id = gif.is_a?(Gif) ? gif.giphy_id : gif.id %>
<div>
  <%- if gif.is_a?(Gif) %>
    <%= link_to gif_path(gif.giphy_id) do %>
      <%= giphy_thumbnail(id) %>
    <%- end %>
  <%- else %>
    <%= giphy_thumbnail(id) %>
  <%- end %>
  <div class='gif-footer'>
    <span class='favorite' data-giphy-id='<%= id %>'><%= favorite_icon(id, user_gifs) %></span>
    <%- if gif.is_a?(Gif) && gif.tags.present? %>
      <ul class='gif-tags'>
        <%- gif.tags.each do |tag| %>
          <li>
            <span class="badge badge-primary bg-light badge-pill"><%= link_to tag.name, tag_path(tag.name) %></span>
          </li>
        <%- end %>
      </ul>
    <%- end %>
  </div>
</div>
